<html>
    <head>
        <title>CHAT</title>
        <style>
            .header{
                background-color: #15223b;
                width: 100%;
                margin: 0;
                padding: 10px;
                color: white;
            }
        </style>
    </head>
    <header>
        <div class="header">
            <h2>chatapp</h2>
        </div>
    </header>
    <body>
        <div id="output" style="width: 500;height: 500;border: 5px solid black;"></div>
        <form>
            <input type="hidden" value="{{.}}" id="user">
            <input type="text" name="msg" id="msg">
            <input type="button" value="send" onclick="test()">
        </form>
    </body>
    <script>
        var socket= new WebSocket("ws://localhost:8080/ws")
        var output;
        function init(){
            output=document.getElementById("output")
            test()
        }
        function test(){
            socket.onopen=function(e){
            console.log("connection established")
            writeToScreen("connected");
            }
            
            
            
            var msg=document.getElementById("msg").value;
            var user=document.getElementById("user").value;
            console.log(msg)
            socket.send(JSON.stringify(
                {
                    username:user,
                    message:msg
                }
            ));

        
         socket.onmessage=function(e){
            var msg1=e.data;
                obj=JSON.parse(msg1)
                writeToScreen('<span style="color:blue;"> '+obj.username+':'+obj.message+'</span>')
             //var msg2=document.getElementById("messages").innerHTML=msg1;
         }
        }
        function writeToScreen(message){
            var pre=document.createElement("p")
            pre.style.wordWrap="break-word"
            pre.innerHTML=message;output.appendChild(pre);

        }
        window.addEventListener("load",init,false)
    </script>
    </html>